<div class="journal_comment">
  <p class="journal_sub heading"><img class="gravatar" src="http://www.gravatar.com/avatar/{{email_hash}}?s=50&amp;r=x&amp;d=identicon" width="50" height="50" />{{author}}{{if=ne;1=\{\{date\}\}}} at {{date}}{{endIf}}:</p>
  {{text}}
</div>
