div.entries_list {
  margin-left:157px;
}

div.entries_list a {
  color: black;
  display: block;
  text-decoration: none;
  border: 1px solid #D3D3D3;
  border-top: none;
  padding: 2px;
  margin: 0;
}

div.entries_list a:first-child {
  border-top:  1px solid #D3D3D3;;
}

div.entries_list a:hover {
  background-color: #D3D3D3;
}

.page_detail div.journal_detail {
  margin-top: 20px;
  margin-left: -1em;
}
