{{addResourceInclude=jquery;library=1.7.1}}{{addResourceInclude=journal-collapsible-date-tree.js}}
<div id="journal_calendar">
	<h3>{{writeString=wns.journal.archive}}</h3>
	<ol class="journal_year">
		{{calendar_item}}
	</ol>
</div>