<p class="comments_count">{{identifierContext=start;name=comment_count_info}}<a id="comments">{{comment_count_info}}</a>{{identifierContext=end;name=comment_count_info}}</p>
<div class="comments">
  {{comments}}
</div>

{{leave_comment}}
