Hi,

someone has left a comment on your entry {{entry}} of the journal {{journal}}.

Name: {{user}}
Email: {{email}}
Comment:

================
{{comment}}
================

The comment is live already.
To deactivate it, visit {{deactivation_link}}
To delete it, visit {{deletion_link}}
