Hi,

someone has left a comment on your entry {{entry}} of the journal {{journal}}.

Name: {{user}}
Email: {{email}}
Comment:

================
{{comment}}
================

Since comments are moderated for this journal, this comment is not yet live.
To activate it, visit {{activation_link}}
To delete it, visit {{deletion_link}}
