{{writeString=comment_email.hello}}

{{writeParameterizedString=comment_email.introduction;entry=\{\{entry\}\};journal=\{\{journal\}\};}}
{{writeString=comment_email.commentor_name}}: {{user}}
{{writeString=comment_email.commentor_email}}: {{email}}
{{writeString=comment_email.comment}}:

******************************************************************

{{comment}}

******************************************************************

{{writeString=comment_email.comment_moderated_byline}}:
{{writeString=comment_email.visite_for_activation}}: {{activation_link}}
{{writeString=comment_email.visite_for_deletion}}: {{deletion_link}}
