<h2 class="journal_title">{{title}}</h2>
<p class="journal_sub">{{writeParameterizedString=journal.publish_date;date=\{\{date_timestamp\}\}}}{{identifierContext=start;name=user_name}}, {{user_name}}{{identifierContext=end;name=user_name}}</p>
<div class="journal_content">
  {{text}}
</div>{{identifierContext=start;name=tags}}
<p class="tags"><span>{{writeString=journal_entry.related_tags}}:</span> {{tags}}</p>{{identifierContext=end;name=tags}}
{{journal_gallery}}{{journal_comments}}
