<h2 class="journal_title">{{title}}</h2>
<div class="journal_sub">{{writeParameterizedString=journal.publish_date;date=\{\{date\}\}}}</div>
<div class="journal_content">
  {{text}}
</div>
{{journal_gallery}}
{{journal_comments}}
