<fieldset class="journal_comment">
  <legend class="journal_comment_heading">{{author}}{{if=ne;1=\{\{date\}\}}} at {{date}}{{endIf}}:</legend>
  <p class="journal_comment_text">
    {{text}}
  </p>
</fieldset>