<h2 class="journal_title"><a rel="internal" href="{{link}}">{{title}}</a></h2>
<div class="journal_sub">{{writeParameterizedString=journal.publish_date;date=\{\{date\}\}}}</div>
<div class="journal_content">
  {{text}}
</div>
<div class="journal_info info">
	<a rel="internal" href="{{link}}#comments">{{writeParameterizedString=journal.comment_count;comment_count=\{\{comment_count\}\}}}</a>
</div>
