<h2 class="journal_title"><a href="{{link}}">{{title}}</a></h2>
<div class="journal_sub">{{writeParameterizedString=journal.publish_date;date=\{\{date\}\};position=last}}</div>
<div class="journal_content">{{text}}</div>

<div class="journal_info info"><a href="{{link}}#comments">{{writeParameterizedString=journal.comment_count;comment_count=\{\{comment_count\}\}}}</a></div>