{{addResourceInclude=jquery;library=1.7.1}}{{addResourceInclude=journal-collapsible-date-tree.js}}
<div id="journal_tree" class="journal_widget">
	<h3><a{{reset_archive_href}} title="{{reset_archive_title}}">{{writeString=journal.label_for_archive}}</a></h3>
{{identifierContext=start;name=items}}
	<ol class="journal-tree-level-0">
		{{items}}
	</ol>
{{identifierContext=end;name=items}}
</div>