<li class="{{class_is_active}}"><a href="{{link}}" data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" class="{{class_is_active}}">{{full_name}}</a>
	{{identifierContext=start;name=items}}<ol class="journal-tree-level-{{level}}">
		{{items}}
	</ol>{{identifierContext=end;name=items}}
</li>