<div class="widget_date_navigation journal_widget">
	<h3>{{writeString=journal.label_for_date_navigation}}{{if=ne;1=\{\{overview_page_href\}\}}}<a href="{{overview_page_href}}"
	title="{{writeString=journal.reset_page_navigation}}">(-)</a>{{endIf}}</h3>
	{{date_navigation}}
</div>
