<div class="journal_sub info">{{writeParameterizedString=journal.publish_date;date=\{\{date\}\};position=last}} – {{writeParameterizedString=journal.count;comment_count=\{\{comment_count\}\}}}</div><h2 class="journal_title small"><a{{current_class}} rel="internal" href="{{link}}">{{title}}</a></h2>
