<div id="tag_cloud">
	<h3 title="{{writeString=journal.tags.help_info}}"><a{{reset_tags_href}} title="{{reset_tags_title}}">{{writeString=journal.label_for_tags}}</a></h3>
	<div>
	{{tag_item}}
	</div>
</div>