<p><span class="journal_sub info">{{writeParameterizedString=journal.publish_date;date=\{\{date\}\};position=last}} – {{writeParameterizedString=journal.count;comment_count=\{\{comment_count\}\}}}</span>
	<a{{current_class}} rel="internal" href="{{link}}">{{title}}</a>
</p>
