{{addResourceInclude=jquery;library=1.7.1}}{{addResourceInclude=jquery-ui-default.css}}{{addResourceInclude=jqueryui;library=1.8.21}}{{addResourceInclude=journal-calendar.js}}
<div id="calendar_widget" class="journal_widget">
	<ol class="journal_dates">
		{{calendar_item}}
	</ol>
</div>