<div class="widget_journals journal_widget">
	<h3>{{writeString=journal.label_for_journals}}{{if=ne;1=\{\{activate_journals_href\}\};}}<a href="{{activate_journals_href}}" title="{{writeString=journal.reset_journals_filter}}">(-)</a>{{endIf}}</h3>
	{{journal_link}}
</div>