<form>
	<h3><a>{{writeString=wns.journal_entry.entry}}</a></h3>
	<div class="general_info">
		<div class="group_fields">
			<label for="title">{{writeString=wns.journal_entry.title}}</label>
			<input type="text" name="title" class="ui-widget-content" />
		</div>
		<div class="group_fields">
			<label for="is_published">{{writeString=wns.journal_entry.is_published}}</label>
			<input type="checkbox" name="is_published" />
		</div><br />
		<label for="text">{{writeString=wns.journal_entry.text}}</label>
		<div data-widget-type="rich_text" class="text-widget"><textarea name="text" class="ui-widget-content"></textarea></div>
	</div>
	<h3><a>{{writeString=wns.journal_entry.comments}}</a></h3>
	<div>
		<ol class="comments ui-editable-items-list">
		</ol>
	</div>
	<h3><a href="#">{{writeString=wns.journal_entry.images}}</a></h3>
	<div class="droppable_area">
	</div>
</form>
