<form class="accordion">
	<h3><a>{{writeString=wns.journal_entry.entry}}</a></h3>
	<div class="general_info">
		<div class="tags_in_detail"></div>
		<div class="status_section">
			<div class="hide_if_not_saved">
				<label>{{writeString=wns.created_info}}:</label><span class="created_info status"></span><br />
				<label>{{writeString=wns.updated.info}}:</label><span class="updated_info status"></span><br />
				<label>{{writeString=wns.id}}:</label><span class="detail_id status"></span><br />
			</div>
		</div>
		<label for="title" class="validate-journal_entry.title_required">{{writeString=wns.journal_entry.title}}</label>
		<input type="text" name="title" class="ui-widget-content autowidth" size="90" /><br />
		<div class="group_fields">
			<label for="journal_id" class="validate-journal_entry.journal_id_required">{{writeString=wns.journal}}</label>
			<select name="journal_id" class="ui-widget-content" data-widget-type="journal_input"></select><br /><br />
		</div>
		<div class="group_fields">
			<label for="publish_at" class="validate-publish_at_required">{{writeString=wns.journal_entry.publish_at}}</label>
			<input type="text" name="publish_at" size="10" class="ui-widget-content autowidth" />
		</div>
		<div class="group_fields">
			<label for="is_published">{{writeString=wns.journal_entry.is_published}}</label>
			<input type="checkbox" name="is_published" />
		</div><br />
		<label for="text" class="validate-journal_entry.text_required">{{writeString=wns.journal_entry.text}}</label>
		<div data-widget-type="rich_text" class="text-widget"><textarea name="text" class="ui-widget-content"></textarea></div>
	</div>
	<h3><a>{{writeString=wns.journal_entry.comments}}<span class="comment_count number"></span></a></h3>
	<div class="journal_comments">
		<table class="ui-list comments">
			<thead>
				<tr>
					<th>{{writeString=wns.date}}</th>
					<th>{{writeString=wns.email}}</th>
					<th>{{writeString=journal.form.comment}}</th>
					<th>{{writeString=wns.journal_entry.is_published}}</th>
				</tr>
			</thead>
			<tbody class="comments ui-editable-items-list">
			</tbody>
		</table>
	</div>
	<h3><a href="#">{{writeString=wns.journal_entry.images_or_media}}<span class="document_count number"></span></a></h3>
	<div class="images_or_media">
		<div class="droppable_area ui-state-droppable">
		</div>
	</div>
</form>
