Widget.types.journal_entry_detail = {
	initialize: function() {
		var _this = this;
		this.init_content();
		Widget.callStatic('detail', 'set_instance', this);
		this.current_detail_id = null;
	},
	
	init_content: function() {
		var _this = this;
		this._element = Widget.parseHTML('{{includeTemplate=edit}}');
		this.comment_row = Widget.parseHTML("{{includeTemplate=comment_row}}");
		this.comment_list = this._element.find('tbody.comments');
		this.journals = this._element.find("select[name='journal_id']").prepareWidget(function(journal_input) {
			_this.journal_input = journal_input;
			journal_input.settings.journal_ids_configured = _this.settings.journal_ids_configured;
		}, jQuery.noop);
		
		this._element.accordion({active: 0, autoHeight: false, clearStyle: true});
		Widget.createWithElement('tag_area', function(widget) {
			_this.tag_area = widget;
			widget.settings.auto_load = false;
			widget.settings.dnd = false;
			widget.settings.deletable = true;
			widget.setModelName('JournalEntry');
			widget.handle('element_set', function(event, element) {
				_this._element.find('div.general_info').prepend(element);
			});
		}, jQuery.noop);
		this.uploader = Widget.create('file_upload');
		this.droppable_area = this._element.find('.droppable_area');
		this.droppable_area.sortable({
			update: function(document, ui) {
				var ids = this.droppable_area.children().map(function() {
					return jQuery(this).data('document_id');
				}).get();
				if(this.current_detail_id !== null) {
					// only reorder if detail has been saved, otherwise sort order is taken from dom at saving time
					this.reorderDocuments(ids);
				}
			}
		});
		this.uploader.allow_drag_to(this.droppable_area, null, function(target, file) {
			return { document_category_id: _this.settings.journal_entry_images_category_id, callback: _this.upload_success.bind(_this), error: _this.upload_error.bind(_this)};
		});
	},

	prepare: function() {
		this.text_widget = this._element.find('.text-widget').attr('data-widget-session', this.settings.richtext_session);
		this.text_widget.prepareWidget(function(text_widget) {
			this.handle('saving', function(event, data) {
				data.text = text_widget.get_data();
			});
		}.bind(this));
	},
	
	fill_data: function() {
		var _this = this;
		this.loadData(function(data) {
			var title = this._element.find('input[name="title"]');
			var is_published = this._element.find('input[name="is_published"]');
			if(data) {
				this.current_detail_id = data.Id;
				this.detail_widget.set_title(data.Title);
				this.set_text(data.Text);
				title.val(data.Title);
				is_published.prop('checked', data.IsPublished);
				this.journals.ensureWidget(function(journal_input) {
					journal_input.val(data.JournalId);
				});
				if(data.Id) {
					this.tag_area.setTaggedItemId(data.Id);
					this.tag_area.reload_tags();
				}
				var toggle_is_published_title = "{{writeString=journal_comment.toggle_is_published}}";
				this.update_comments(data.comments);
				this.update_documents();
			} else {
				this.current_detail_id = null;
				this.detail_widget.set_title('{{writeString=wns.journal.add_entry}}');
				this.set_text('');
				title.val('');
			}
		});
	},
	
	update_comments: function(comments) {
		var _this = this;
		this.comment_list.empty();
		jQuery.each(comments, function(i, comment) {
			var comment_row = _this.comment_row.clone();
			var online_checkbox = jQuery('<input/>').attr({ type: 'checkbox', name: 'is_published[]', value : comment.Id }).prop('checked', comment.IsPublished).change(function() {
				_this.toggleCommentIsPublished(comment.Id, function(result) {
					online_checkbox.prop('checked', result === true);
				});
			});
			comment_row.find('td.date').append(comment.CreatedAtFormatted);
			comment_row.find('td.email').append(comment.Email);
			comment_row.find('td.comment').append(comment.Text);
			comment_row.find('td.is_published').append(online_checkbox);
			_this.comment_list.append(comment_row);
		});
	},

	set_text: function(text) {
		this.text_widget.ensureWidget(function(widget) {
			widget.set_data(text);
		}.bind(this));
	},
	
	update_documents: function() {
		var _this = this;
		this.droppable_area.empty();
		this.allDocuments(_this.settings.thumbnail_size, function(documents) {
			jQuery.each(documents, function(i, document_data) {
				_this.insert_thumbnail(document_data);
			});
		});
	},
	
	insert_thumbnail: function(document_data) {
		var _this = this;
		var document_id = document_data.Id;
		var px_size = ''+this.settings.thumbnail_size+'px';
		var doc = jQuery('<div/>').addClass('ui-widget ui-widget-content ui-image-picker-image ui-placeholder');
		doc.css({width: px_size, height: px_size});
		doc.data('document_id', document_id);
		
		jQuery('<span/>').addClass('ui-icon ui-icon-trash').click(function(event) {
			var delete_message = AdminInterface.strings.get_string('wns.document.delete_warning', { document_name: document_data.Name});
			Widget.confirm("{{writeString=wns.delete_warning_title}}", delete_message, function(confirmed) {
				if(confirmed) {
					_this.deleteDocument( document_id, function(result) {
						jQuery(doc).remove();
					});
				}
			});
			return false;
		}).appendTo(doc);
		var document_object = Widget.parseHTML(document_data.Preview);
		doc.addClass('pointer').attr('title', '{{writeString=wns.edit_file.dblclick}}').dblclick(function() {
			Widget.create('document_detail', function(detail) {
				detail.settings.hide_inputs_if_called_externally = true;
				detail.auto_open = true;
			}, function(detail) {
				detail.setDocumentId(document_id);
				detail.fill_data();
			});
		});
		doc.append(document_object);
		this.droppable_area.append(doc);
	},
	
	upload_success: function(document_id, options) {
		var _this = this;
		this.addJournalEntryImage(document_id, function() {
			_this.insert_thumbnail(_this.getSingleDocument(document_id, _this.settings.thumbnail_size));				
		});
	},
	
	upload_error: function(error) {
	},

	journal_ids_configured: function(journal_ids_configured) {
		this.settings.journal_ids_configured = journal_ids_configured;
		if(this.journal_input) {
			this.journal_input.settings.journal_ids_configured = journal_ids_configured;
			this.journal_input.reload();
		}
	},
	
	settings: {
		"detail_widget": {
			width: 800 
		},
		thumbnail_size: 180,
		journal_ids_configured: null
	}
};
