.ui-dialog.detail-widget-journal_entry_detail input[name="title"] {
	width: 455px
}

.ui-dialog.detail-widget-journal_entry_detail .droppable_area {
	min-height: 210px;
}

.comments.ui-list td {
	vertical-align: top;
}

.comments.ui-list th {
	padding-top: 0.5em;
}

.comments.ui-list td:first-child,
.comments.ui-list th:first-child {
	padding-left: 1.9em;
}

.journal_detail.ui-widget-content select[name="journal_ids"].ui-widget-content {
	padding-bottom: 10px;
	line-height: 18px;
}

div.no_images_placeholder {
	padding:5em;
	font-size:1.1em;
}

a.url_preview {
	display: block;
	margin-top: 0.3em;
	color: #666;
}
a.url_preview:hover {
	color: #000;
}
