.ui-dialog.detail-widget-journal_entry_detail input[name="title"] {
	width: 455px
}

.ui-dialog.detail-widget-journal_entry_detail select[name="journal_id"] {
	width: 200px
}

.comments.ui-list.ui-editable-items-list td {
	vertical-align: top;
}

td.comment p {
	padding: 0;
	margin: 0 0 0.3em 0;
}

.ui-dialog.detail-widget-journal_entry_detail .droppable_area {
	padding-left: 1em !important;
	min-height: 250px
}

.ui-dialog.detail-widget .ui-accordion .ui-accordion-content.droppable_area {
	background-color: #f6f6f6;
}

.detail-widget-journal_entry_detail .ui-image-picker-image.ui-widget-content {
	margin: .3em .3em 0 0;
}

.add-new-item.add_journal_entry {
	margin-top: 3px;
}

.journal_detail.ui-widget-content select[name="journal_ids"].ui-widget-content {
	padding-bottom: 10px;
	line-height: 18px;
}
