*[data-widget-type='journal_entry_detail'] {
	
}

.ui-dialog.detail-widget-journal_entry_detail {
	
}

.ui-dialog.detail-widget-journal_entry_detail .ui-dialog-content {
	
}

.comments li div {
	padding: .3em 0 .3em 0;
	margin-bottom: .5em;
}

.ui-dialog.detail-widget-journal_entry_detail .droppable_area {
	padding-left: 1em !important;
	min-height: 250px
}

.ui-dialog.detail-widget .ui-accordion .ui-accordion-content.droppable_area {
	background-color: #f6f6f6;
}

.detail-widget-journal_entry_detail .ui-image-picker-image.ui-widget-content {
	margin: .3em .3em 0 0;
}