<li>
	<a href="{{link}}" data-year="{{year}}" data-month="{{month}}" data-day="{{day}}" class="calendar_day">
		{{writeDate=x;format=Y-n-j;date=\{\{year\}\}-\{\{month\}\}-\{\{day\}\};position=last}}
	</a>
</li>