.preview .add_entry_wrapper
	border 1px solid #b3b3b3
	border-radius 3px
	margin-bottom 5px
	ul
		list-style-type none
		margin-left 0
		li
			font-size 0.8em
			background-image none
			padding-left 20px