Widget.types.journal_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-journals_changed', this.reload.bind(this));
	},

	reload: function() {
		var _this = this;
		var current = this._element.val();
		this._element.empty();
		this.listJournals(this.settings.journal_ids_configured, function(journals) {
			_this._element.populate({'': "{{writeString=wns.choose}}"});
			_this._element.populate(journals);
			if(current) {
				this._element.val(current);
			} else {
				if(_this.settings.initial_selection === '__all') {
					_this.settings.initial_selection = null;
				}
				this._element.val(_this.settings.initial_selection || '');
			}
		});
	},
	
	val: function(value) {
		if(arguments.length) {
			this._element.val(value);
			this.settings.initial_selection = value;
			return;
		}
		return this._element.val();
	},
	
	settings: {
		journal_ids_configured: null,
		initial_selection: null
	}
};