Widget.types.journal_input = {
	prepare: function() {
		this.reload();
		Widget.handle('rapila-journals_changed', this.reload.bind(this));
	},

	reload: function() {
		var _this = this;
		var current = this._element.val();
		this._element.empty();

		var option = jQuery('<option/>');
		option.clone().text("{{writeString=wns.choose}}").attr('value', '').appendTo(this._element);
		this.listJournals(this.settings.journal_ids_configured, function(journals) {
			jQuery.each(journals, function(i, journal) {
				option.clone().text(journal.name).attr('value', journal.id).appendTo(this._element);
			}.bind(this));
			if(current) {
				this._element.val(current);
			} else {
				if(_this.settings.initial_selection === '__all') {
					_this.settings.initial_selection = null;
				}
				this._element.val(_this.settings.initial_selection || '');
			}
		});
	},

	val: function(value) {
		if(arguments.length) {
			this._element.val(value);
			this.settings.initial_selection = value;
			return;
		}
		return this._element.val();
	},

	settings: {
		journal_ids_configured: null,
		initial_selection: null
	}
};
