.ui-dialog.detail-widget-journal_detail .ui-dialog-content {
	padding: 0;
}

.ui-dialog.detail-widget-journal_detail .ui-accordion-content  {
	border: none;
	padding: 0;
}

.ui-dialog.detail-widget-journal_detail .ui-accordion-content.tab_part.general_info {
	padding:0.5em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}

.ui-dialog.detail-widget-journal_detail .ui-accordion-content.tab_part.journal_entries {
	padding-left: 1.6em;
	background-color: #F6F6F6;
}

.ui-dialog.detail-widget-journal_detail .ui-state-active {
	background-color: #ebedef;
}

.add-new-item.new_journal_entry {
	margin-top: 5px;
}

