.ui-dialog.detail-widget-journal_detail .ui-accordion-content.tab_part.general_info {
	padding:0.5em 1em;	
	padding-bottom: .5em;
	padding-left: 1.6em;
}

.ui-dialog.detail-widget-journal_detail .ui-accordion-content.tab_part.journal_entries tr > th:first-child,
.ui-dialog.detail-widget-journal_detail .ui-accordion-content.tab_part.journal_entries tr > td:first-child {
	padding-left: 0.5em;
}

.ui-dialog.detail-widget-journal_detail .ui-state-active {
	background-color: #ebedef;
}

.add-new-item.new_journal_entry {
	margin: 4px 0 0 4px;
}

