Widget.types.journal_detail = {
	initialize: function() {
		var _this = this;
		this._element = Widget.parseHTML("{{includeTemplate=edit}}");
		this._element.find('div.hide_if_not_saved').hide();
		this.entry_area = this._element.find('div.journal_entries');
		
		
		this.with_comment_active_only = this._element.find('.with_comment_active_only');
		this.comment_mode_select = this._element.find("select[name='comment_mode']").change(function() {
			_this.with_comment_active_only.css('visibility' , jQuery(this).val() ===  'off' ? 'hidden' : 'visible');
		});

		if(this.settings.is_standalone) {
			this.settings.detail_widget.additionalButtons = [{
				text: "{{writeString=journal_entries.do_admin}}",
				icons: {primary: 'ui-icon-wrench'},
				name: 'edit_journal_entries',
				click: jQuery.openLink.bind(window, "{{writeLink=journal_entries;manager=AdminManager}}")
			}];
		}

		Widget.callStatic('detail', 'create_for_instance', this);
		if(this.settings.is_standalone) {
			this.handle('opened', function() {
				_this._element.find('div.accordion').accordion({heightStyle: 'content'});
				_this._element.addClass('has-accordion');
			});
		}
	},
	
	prepare: function() {
		if(!this.settings.is_standalone) {
			this._element.find('h3').hide();
			// this._element.parent().find('button[name="edit_journal_entries"]').hide();
		}
	},

	fill_data: function() {
		this.detail_widget.disable();
		this.journalData(function(journal_data) {
			this._element.find("input[name='name']").val(journal_data.Name);
			this._element.find("textarea[name='description']").val(journal_data.Description);
			this._element.find("input[name='use_captcha']").prop('checked', journal_data.UseCaptcha);
			this._element.find(".updated_info").text(journal_data.UpdatedInfo);
			this._element.find(".created_info").text(journal_data.CreatedInfo);
			this._element.find(".detail_id").text(journal_data.Id);
			this._element.find('div.hide_if_not_saved').show();
			
			if(journal_data.EnableComments && journal_data.NotifyComments) {
				this.comment_mode_select.val('notified');
			} else if(journal_data.NotifyComments) {
				this.comment_mode_select.val('moderated');
			} else if(journal_data.EnableComments) {
				this.comment_mode_select.val('on');
			} else {
				this.comment_mode_select.val('off');
			}
			this.detail_widget.set_title(this.detail_widget.settings.title = journal_data.Name);
			if(this.settings.is_standalone) {
				this.load_entries(journal_data.Id);
			}
			this.detail_widget.enable();
		});
	},
	
	load_entries: function(journal_id) {
		if(this.entry_list) {
			this.entry_list.reload();
			return;
		}
		var _this = this;
		this.entryList(function(list) {
			_this.entry_area.html(list);
			_this.entry_area.widgetElements().prepareWidget(function(widget) {
				_this.entry_list = widget;
			}, function(widget) {
			});
			var add_new_journal_entry = jQuery('<div/>').addClass('add-new-item new_journal_entry pointer').attr('title', "{{writeString=wns.create_new_entry}}").click(function() {
				Widget.create('journal_entry_detail', function(widget) {
					widget.settings.journal_ids_configured = [journal_id];
					widget.open();
					widget.handle('saved', function() {
						_this.entry_list.reload();
					});
				});
				
			});
			_this.entry_area.append(add_new_journal_entry);
		});
	},
	
	save_callback: function(info) {
		Widget.fire('rapila-journals_changed', info);
	},
	
	settings: {
		detail_widget: {
			title: "{{writeString=wns.journal.create}}",
			width: 800
		},
		select: 'name',
		// a standalone version of this widget will display a list of entries to edit
		is_standalone: true
	}
};
