<div class="group_fields">
	<label for="display_mode">{{writeString=wns.journal.display_option}}</label>
	<select name="display_mode" class="ui-widget-content autowidth">
		{{display_options}}
	</select>
</div>
<div class="group_fields">
	<label for="limit">{{writeString=wns.journal.config.count}}</label>
	<select name="limit" class="ui-widget-content autowidth">
		{{limit_options}}
	</select>
</div>
<div class="group_fields">
	<label for="journal">{{writeString=wns.journal.journal_page_or_journal}}</label>
	<select name="journal" class="ui-widget-content">
		{{journal_options}}
	</select>
</div>