<!-- 
Example of html for displaying first image of journal entry image gallery in teaser
Change (or add) the template "journal_entry_teaser.tmpl" in site/modules/frontend/journal/templates/journal_entry_teaser.tmpl
	- use "IdentifierContext" for displaying image related content, if exists
	- optionally use lessThan (if=<) condition within this context, to limit view of image for a specific number of entries (...	2=2)
For further information check JournalFrontendModule.php and Template related classes
-->

<h2><a href="{{link_to_detail}}" class="read_more" title="{{writeString=wns.read_more}}: „{{title}}“">{{title}}</a></h2>
{{identifierContext=start;name=image_display_url}}
{{if=<;1=\{\{index\}\};2=2}}
<p class="images">
	<a href="{{link_to_detail}}" class="read_more" title="{{writeString=wns.read_more}}: {{title}}">
		<img src="{{image_display_url}}" alt="{{image_description}}" width="{{image_width}}" height="{{image_height}}" />
	</a>
	<span class="legend">{{image_description}}</span>
</p>
{{endIf}}
{{identifierContext=end;name=image_display_url}}
<p class="journal_sub">
	{{writeParameterizedString=journal.publish_date;date=\{\{date_timestamp\}\}}}{{identifierContext=start;name=user_name}}, {{user_name}}{{identifierContext=end;name=user_name}}
</p>
{{text_short}}
<a href="{{link_to_detail}}" class="read_more">{{writeString=wns.read_more}}</a>
