<div class="journal_comment journal_teaser">
	<h2>{{writeString=journal_comment_teaser.prefix}} {{title}}</h2>
	<p class="date">{{writeDate=%e. %B %Y;timestamp=\{\{created_at\}\};position=last}} / {{name}}</p>
	<p>{{text}}</p>
	<p><a class="more_link" href="{{more_link}}">{{writeString=journal_entry_teaser.read_more}}</a></p>
</div>