<div class="journal_entry journal_teaser">
	<h3>{{writeString=journal_entry_teaser.prefix}} {{title}}</h3>
	<p class="date journal_sub">{{writeDate=%e. %B %Y;timestamp=\{\{publish_at\}\};position=last}}</p>
	{{text_short}}
	<p class="read_more"><a class="read_more" rel="internal" href="{{link_to_detail}}">{{writeString=journal_entry_teaser.read_more}}</a></p>
</div>