<form method="post" action="{{action}}">
  <fieldset class="divider">
    <input type="hidden" name="id" value="{{id}}" />
    <label for="title">{{writeString=journal.title}}</label><input type="text" id="title" name="title" value="{{title}}"/><br />
  </fieldset>
  <fieldset class="divider">
    <label for="{{textarea_id}}">{{writeString=journal.text}}</label><textarea id="{{textarea_id}}" name="{{textarea_id}}">
    <![CDATA[
      {{text}}
    ]]>
    </textarea><br />
    <label>&nbsp;</label><button type="submit" id="submit" name="submit" title="{{writeString=save}}"></button><br />
  </fieldset>
</form>
<form method="post" action="{{action}}">
  <fieldset>
    <input type="hidden" name="id" value="{{id}}" />
    <input type="hidden" name="action" value="backend_delete" />
    <label>&nbsp;</label><button type="submit" id="delete" name="delete" class="delete" title="{{writeString=delete}}"></button><br />
  </fieldset>
</form>
<h2>{{writeString=journal.comments}}</h2>

{{comments}}