<form action="{{writeLink=to_self}}" method="post">
  <fieldset class="divider"><legend class="toggler">Blog Configuration</legend>
    <label for="journal_id">{{writeString=journal.journal_options}}</label><select id="journal_id" name="journal_id">{{base_journal_options}}</select><br />
    <label for="blog_action">{{writeString=journal.blog_action}}</label><select id="blog_action" name="blog_action">{{blog_action_options}}</select><br />
    <label for="property_template_container">{{writeString=journal.display_template_container}}</label><select id="property_template_container" name="property_template_container">{{property_template_container_options}}</select><br />
    <label for="property_recent_container">{{writeString=journal.display_recent_blogpost_container}}</label><select id="property_recent_container" name="property_recent_container">{{property_recent_container_options}}</select><br />
    <input type="hidden" name="action" value="backend_save_settings" />
    <label for="property_submit"></label><button id="property_submit" type="submit"></button>
  </fieldset>  
</form>
