<img class="gravatar" src="http://www.gravatar.com/avatar/{{email_hash}}?s=30&amp;r=x&amp;d=identicon" width="30" height="30" style="float:left;" /><br />
<form method="post" action="{{comment_action}}">
  <input type="hidden" name="comment_id" value="{{id}}" />
  <input type="hidden" name="action" value="backend_delete_comment" />
  <fieldset class="journal_comment">
    Comment #{{counter}} by {{author}} ({{email}}) at {{date}}:
    <p>
      {{text}}
    </p>
    <button type="submit" class="delete"></button>
  </fieldset>
</form>