<h1>{{quoteString=\{\{title\}\};alternate=true;defaultValue=\{\{writeString=new_entry\}\}}} </h1>
<fieldset class="page_edit_tabs">
  <a class="page_structure" href="{{page_edit_link}}" title="">{{writeString=page.structure}}</a><a class="page_content edit_detail" href="{{content_edit_link}}" title="">{{writeString=page.backto_contents_detail}}</a>
</fieldset>
{{journal_page_type_content}}