<select name="journal">
</select>
<button name="add_journal">{{writeString=wns.journal.add}}</button>
<fieldset>
	<legend>{{writeString=wns.journal.page_config}}</legend>
</fieldset>
<fieldset>
	<legend>{{writeString=wns.journal.journal_config}}</legend>
</fieldset>

