<div class="journal_detail">
	<ul>
		<li><a href="#journal-journal_entries">{{writeString=wns.journal.journal_entries}}</a></li>
		<li><a href="#journal-page_config">{{writeString=wns.journal.page_config}}</a></li>
	</ul>
	<div id="journal-journal_entries">
		<div class="journal-entries"></div>
		<a class="info-bar-button info-bar-element add-new-item add_journal_entry" title="{{writeString=wns.new_entry}}" accesskey="n">&nbsp;</a>		
	</div>
	<div id="journal-page_config">
		<div class="group_fields" style="width: 250px;margin-right:10px">
			<label class="validate-journal_ids_required">{{writeString=journal.journals_to_be_displayed}}</label>
			<div class="journal_list" style="border: 1px solid #f2f2f2;padding;8px;"></div>
			<a class="info-bar-button info-bar-element add-new-item add_new_journal" style="margin: 3px" title="{{writeString=journal.new_entry}}">&nbsp;</a>		
		</div>
		<div class="group_fields">
			<label for="mode">{{writeString=wns.journal.action}}</label>
			<select name="mode" class="ui-widget-content">
				<option value="list">{{writeString=wns.journal.action.list}}</option>
				<option value="truncated">{{writeString=wns.journal.action.truncated}}</option>
				<option value="full">{{writeString=wns.journal.action.full}}</option>
			</select><br />
			<label for="entries_per_page">{{writeString=wns.journal.pagination_limit}}</label>
			<select name="entries_per_page" class="ui-widget-content">
				<option value="">{{writeString=wns.journal.pagination_show_all}}</option>
				<option value="10">10 {{writeString=wns.journal.journal_entries}}</option>
				<option value="20">20 {{writeString=wns.journal.journal_entries}}</option>
				<option value="50">50 {{writeString=wns.journal.journal_entries}}</option>
			</select><br />
			<label for="template_set">{{writeString=wns.journal.template_set}}</label>
			<select name="template_set" class="ui-widget-content"></select><br />
			<label for="container">{{writeString=wns.journal.container}}</label>
			<select name="container" class="ui-widget-content"></select><br />
			<label for="auxiliary_container">{{writeString=wns.journal.auxiliary_container}}</label>
			<select name="auxiliary_container" class="ui-widget-content"><option value="">--</option></select><br />
			<label for="date_navigation_items_visible">{{writeString=wns.journal.date_navigation_items_visible}}</label>
			<select name="date_navigation_items_visible" class="ui-widget-content">
				<option value="0">{{writeString=wns.journal.dont_display_date_navigation}}</option><option value="1">{{writeString=wns.journal.display_date_navigation}}</option>
			</select><br />
		</div>
		<div class="group_fields" style="margin-left:1em;">
			<label>{{writeString=wns.journal.widgets}}</label><div class="journal-widgets ui-widget-content" style="'border:1px solid #e2e2e2;padding:2px;"></div>
		</div>
	</div>
</div>
