<div>
	<input type="checkbox" name="journal_ids[]" value="" />
	<label for="journal_ids[]" style="padding-right:5px;display:inline-block;max-width:220px;margin:0;padding-to:0;"></label>
	<span class="edit_journal_button ui-icon ui-icon-pencil" title="{{writeString=journal.edit_create_journal}}" style="display:inline-block; cursor:pointer;"> </span>
</div>