<label for="journal">{{writeString=wns.journal.select}}</label>
<select name="journal" class="ui-widget-content" style="margin-bottom:1em;">
	<option value="">{{writeString=wns.journal.add}}</option>
</select>
<div class="journal_detail">
	<ul>
		<li><a href="#journal-journal_entries">{{writeString=wns.journal.journal_entries}}</a></li>
		<li><a href="#journal-journal_config">{{writeString=wns.journal.journal_config}}</a></li>
		<li><a href="#journal-page_config">{{writeString=wns.journal.page_config}}</a></li>
	</ul>
	<div id="journal-journal_config">
		<label for="journal_name" class="validate-journal.name_required">{{writeString=wns.journal.name}}</label><input type="text" name="journal_name" class="ui-widget-content" /><br />
		<label for="journal_description">{{writeString=wns.journal.description}}</label><textarea type="text" name="journal_description" class="ui-widget-content"></textarea>
	</div>
	<div id="journal-page_config">
		<div class="group_fields">
			<label for="mode">{{writeString=wns.journal.action}}</label>
			<select name="mode" class="ui-widget-content">
				<option value="newest">{{writeString=wns.journal.action.newest}}</option>
				<option value="overview">{{writeString=wns.journal.action.overview}}</option>
			</select>
		</div>
		<div class="group_fields">
			<label for="container">{{writeString=wns.journal.container}}</label><select name="container" class="ui-widget-content"></select>
		</div>
		<div class="group_fields">
			<label for="auxiliary_container">{{writeString=wns.journal.auxiliary_container}}</label><select name="auxiliary_container" class="ui-widget-content"><option value="">--</option></select>
		</div>
		<div class="group_fields">
			<label>{{writeString=wns.journal.widgets}}</label><div class="journal-widgets ui-widget-content"></div>
		</div>
		<br />
		<div class="group_fields">
			<label for="template_set">{{writeString=wns.journal.template_set}}</label><select name="template_set" class="ui-widget-content"></select>
		</div>
		<div class="group_fields">
			<label for="comment_mode">{{writeString=wns.journal.comments}}</label>
			<select name="comment_mode" class="ui-widget-content">
				<option value="on">{{writeString=wns.journal.comments.on}}</option>
				<option value="off">{{writeString=wns.journal.comments.off}}</option>
				<option value="moderated">{{writeString=wns.journal.comments.moderated}}</option>
				<option value="notified">{{writeString=wns.journal.comments.notified}}</option>
			</select>
		</div>
		<div class="group_fields">
			<label for="dates_hidden">{{writeString=wns.journal.dates_hidden}}</label><input type="checkbox" name="dates_hidden" class="ui-widget-content" />
		</div>
	</div>
	<div id="journal-journal_entries">
		<div class="journal-entries">
		</div>
		<a class="info-bar-button info-bar-element add-new-item add_journal_entry" title="{{writeString=wns.new_entry}}" accesskey="n">&nbsp;</a>		
	</div>
</div>
