<div class="journal_comment">
  <h3 class="journal_comment_heading"><img class="gravatar" src="http://www.gravatar.com/avatar/{{email_hash}}?s=50&amp;r=x&amp;d=identicon" width="50" height="50" />Comment from {{author}}{{if=ne;1=\{\{date\}\}}} at {{date}}{{endIf}}:</h3>
  <p class="journal_comment_text">
    {{text}}
  </p>
</div>