.page-type-journal .journal-entries table.ui-list tr.ui-list-headrow th {
	background-color: #FFF !important;
}

.page-type-journal .ui-widget-content .journal-entries a.add_journal_entry {
	margin-top: .3em;
}

.ui-accordion .page-type-journal div.ui-widget-content.journal-widgets {
	margin-top: 0;
	border: 1px solid #f2f2f2;
}

div.journal_list > div {
	border-top: 1px solid #f2f2f2;
	padding-bottom: 1px;
}

div.journal_list > div:first-child {
	border-top: none;
}

div.ui-widget-content.journal-widgets .widget_item {
	padding: 0 5px 1px 5px;
	border-bottom: 1px solid #f2f2f2;
}

div.ui-widget-content.journal-widgets .widget_item label {
	margin-top: 0;
}

div.ui-widget-content.journal-widgets.ui-sortable .ui-sortable-handle {
	background-position: 0 5px;
}

.page-type-journal .journal_detail .group_fields {
	margin-right: 1.0em;
}

.preview_bar.journal-entry .ui-icon {
	height: 20px; 
	margin: -2px 2px 0 0;
	width: 26px;
}

.preview_bar.journal-entry {
	opacity: 0.5;
}
.preview_bar.journal-entry.may_edit {
	opacity: 1;
}

.preview_bar.journal-entry.may_edit .ui-icon {
	cursor: pointer;
}

.preview_bar.journal-entry .ui-icon.ui-icon-trash {
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/icon_trash.png") no-repeat center bottom;
}
.preview_bar.journal-entry .ui-icon.ui-icon-wrench {
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/icon_edit_condition.png") no-repeat center bottom;
}
.preview_bar.journal-entry .ui-icon.ui-icon-pencil {
	background: transparent url("{{writeConstantValue=INT_IMAGES_DIR_FE}}/admin/icon_edit.png") no-repeat center bottom;
}
