.ui-list-row td.count_comments {
	text-align: right;
	padding-right: 1em;
}

.journal-entries table.ui-list tr.ui-list-headrow th {
	background-color: #FFF !important;
}

.ui-widget-content .journal-entries a.add_journal_entry {
	margin-top: .3em;
}