<tr class="ui-list_row">
	<td class="journal_title pointer" style="min-width:10em;" title="{{writeString=wns.edit_entry}}"></td>
	<td class="count_comments"></td>
	<td class="delete_row"><span class="ui-icon ui-icon-trash"></span></td>
</tr>