.page-type-journal .ui-list-row td.count_comments {
	text-align: right;
	padding-right: 1em;
}

.page-type-journal .journal-entries table.ui-list tr.ui-list-headrow th {
	background-color: #FFF !important;
}

.page-type-journal .ui-widget-content .journal-entries a.add_journal_entry {
	margin-top: .3em;
}

.page-type-journal div.ui-widget-content.journal-widgets {
	margin-top: 3px;
	border: 1px solid #e2e2e2;
	padding: 3px;
}

.page-type-journal .journal_detail .group_fields {
	margin-right: 1.0em;
}