<button class="add-entry">Add new entry</button>
<ul class="menu">
	{{identifierContext=start;name=journal}}
	<li data-journal-id="{{journal.id}}"><a>{{journal.name}}</a></li>
	{{identifierContext=end;name=journal}}
</ul>