<div class="add_entry_wrapper">
	<button class="add-entry"{{journal_id_data}}>Add new entry</button>
	<ul class="menu">
		{{identifierContext=start;name=journal}}
		<li data-journal-id="{{journal.id}}"><a>{{journal.name}}</a></li>
		{{identifierContext=end;name=journal}}
	</ul>
</div>
