<div class="preview_bar journal-entry may_edit"><div class="ui-icon ui-corner-all ui-icon-pencil edit" title="{{writeString=wns.edit_entry}}"></div><div class="additional-buttons"></div><div class="ui-loading ui-corner-all"></div></div>